/** ====================================================================================
                                FOR ALL
 ====================================================================================**/

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-Regular.ttf') format('truetype');
  font-weight: 400;
}

html, body{
  font-family: "DM Sans", sans-serif !important;
}

/** ====================================================================================
                                FOR IMPORTS
 ====================================================================================**/

@import 'displays-dashboard.scss';